<div class="w3-padding-large" id="main">
  <div class="w3-padding-64 w3-content">

    <h2 class="page-heading">Contact</h2>
    <p>
      You've got questions, we got answers:
    </p>
    <div class="card-deck">

      <a class="card p-3" href="https://discord.gg/KpAkBWK" target="_blank">
        <i class="card-img-top fab fa-discord fa-10x"></i>
        <h1 class="card-title">Discord</h1>
        <ul class="card-text">
          <li>Tournament questions</li>
          <li>General questions</li>
          <li>Banter</li>
          <li>Bribery</li>
        </ul>
      </a>

      <a class="card p-3" href="mailto:irishinterfirmsgaming@gmail.com" target="_top">
        <i class="card-img-top fas fa-envelope fa-10x"></i>
        <h1 class="card-title">Email</h1>
        <ul class="card-text">
          <li>Account issues</li>
          <li>Serious business</li>
          <li>Uncategorisable miscellanies</li>
        </ul>
      </a>

    </div>
  </div>
</div>
