<div class="w3-padding-large" id="main">
  <div class="w3-padding-64 w3-content">
    <h2 class="page-heading">Wall of Fame</h2>

    <div class="row">

      <div class="col-md-4 col-lg-3 col-xl-2">
        <nav class="nav flex-column nav-pills">
          <a class="nav-link" *ngFor="let game of games;" [ngClass]="{'active': game == selectedGame}"
             (click)="selectedGame = game">{{ game.name }}
          </a>
        </nav>
      </div>

      <div class="col-md-8 col-lg-9 col-xl-10">
        <div>
          <img src="{{selectedGame.imageLink}}" alt="Wall of fame for game" *ngIf="selectedGame; else blah">
          <ng-template #blah>
            Select a game to see its wall of fame!
          </ng-template>
        </div>
      </div>
    </div>

  </div>
</div>
