<div class="w3-padding-large" id="main">
  <div class="w3-padding-64 w3-content">
    <h2 class="page-heading">Wall of Fame</h2>

    <div class="row">

      <div class="col-md-4 col-lg-3 col-xl-2">
        <nav class="nav flex-column nav-pills">
          <a class="nav-link" *ngFor="let game of games;" [ngClass]="{'active': game == selectedGame}"
             (click)="selectGame(game)">{{ game.name }}
          </a>
        </nav>
      </div>

      <div class="col-md-8 col-lg-9 col-xl-10">
        <div id="stage" [class]="curtainsOpen ? 'curtains-open': ''">

          <div class="curtain curtain-left">
            <div id="curtain-left-logo" class="curtain"></div>
          </div>

          <div class="curtain curtain-right">
            <div id="curtain-right-logo" class="curtain"></div>
          </div>

          <div id="balance" class="balance"></div>
          <div class="spotlight"></div>
          <div>
            <img src="{{gameDisplayed.imageLink}}" alt="Wall of fame for game" *ngIf="gameDisplayed">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
