<div class="row container-fluid footer">
  <p class="col-lg-7 copyright">
    © 2018 Irish Interfirms Gaming League. All rights reserved.<br>
  </p>
  <div class="col-lg-5 other-media">
    <a target="_blank" href="https://discord.gg/dhYgfwC"><i class="fab fa-discord fa-fw fa-3x"></i></a>
    <a target="_blank" href="https://www.facebook.com/irishinterfirmsgaming/"><i
      class="fab fa-facebook-f fa-fw fa-3x"></i></a>
    <a target="_blank" href="https://twitter.com/iiGamingLeague"><i class="fab fa-twitter fa-fw fa-3x"></i></a>
    <a target="_blank" href="https://www.youtube.com/channel/UCjTMwJZcxL33a6n_bake5fA"><i
      class="fab fa-youtube fa-fw fa-3x"></i></a>
    <a target="_blank" href="https://www.twitch.tv/irishinterfirmsgaming"><i class="fab fa-twitch fa-fw fa-3x"></i></a>
  </div>
</div>
