<nav class="vertical-navbar d-none d-sm-block">

  <a routerLink="home" class="nav-item logo">
    <span>
      <object routerLink="home" data="/assets/img/logo/logo.svg"></object>
    </span>
  </a>
  <a routerLink="tournaments" class="nav-item black-hover" routerLinkActive="black">
    <i data-fa-transform="rotate-90 shrink-4" class="fas fa-sitemap fa-4x"></i>
    <p>TOURNAMENTS</p>
  </a>
  <a routerLink="wallOfFame" class="nav-item black-hover" routerLinkActive="black">
    <i class="fas fa-trophy fa-3x"></i>
    <p>WALL OF FAME</p>
  </a>
  <a routerLink="contact" class="nav-item black-hover" routerLinkActive="black">
    <i class="fas fa-envelope fa-3x"></i>
    <p>CONTACT</p>
  </a>
  <a routerLink="studentAdvice" class="nav-item black-hover" routerLinkActive="black">
    <i class="fas fa-graduation-cap fa-3x"></i>
    <p>STUDENT ADVICE</p>
  </a>
  <a routerLink="admin" *ngIf="isLoggedIn() && isAdmin()" class="nav-item black-hover">
    <i class="fas fa-cogs fa-3x"></i>
    <p>ADMIN</p>
  </a>
  <a routerLink="login" *ngIf="!isLoggedIn()" class="nav-item black-hover" routerLinkActive="black">
    <i class="fas fa-sign-in-alt fa-3x"></i>
    <p>LOGIN</p>
  </a>
  <a routerLink="register" *ngIf="!isLoggedIn()" class="nav-item black-hover" routerLinkActive="black">
    <i class="fas fa-user-plus fa-3x"></i>
    <p>REGISTER</p>
  </a>
  <a routerLink="home" *ngIf="isLoggedIn()" (click)="logout()" class="nav-item black-hover">
    <i data-fa-transform="flip-h" class="fas fa-sign-out-alt fa-3x"></i>
    <p>LOGOUT</p>
  </a>
</nav>

<nav class="horizontal-navbar d-block d-sm-none">
  <a routerLink="home" (click)="showNav = false">
    <span>
      <object data="/assets/img/logo/logo.svg"></object>
    </span>
    <span style="font-family: 'Russo One', sans-serif; font-size: 2em;">IIGL</span>
  </a>

  <button (click)="showNav = !showNav" style="vertical-align: top;">
  </button>

  <div class="mobile-nav" *ngIf="showNav" (click)="showNav = false">
    <a routerLink="tournaments" class="nav-item" routerLinkActive="black">
      <i data-fa-transform="rotate-90 shrink-4" class="fas fa-sitemap"></i>
      <span>TOURNAMENTS</span>
    </a>
    <a routerLink="wallOfFame" class="nav-item" routerLinkActive="black">
      <i class="fas fa-trophy"></i>
      <span>WALL OF FAME</span>
    </a>
    <a routerLink="contact" class="nav-item" routerLinkActive="black" >
      <i class="fas fa-envelope"></i>
      <span>CONTACT</span>
    </a>
	<a routerLink="studentAdvice" class="nav-item" routerLinkActive="black">
	  <i class="fas fa-graduation-cap"></i>
    <span>STUDENT ADVICE</span>
	</a>
    <a routerLink="admin" *ngIf="isLoggedIn() && isAdmin()" class="nav-item" routerLinkActive="black">
      <i class="fas fa-cogs"></i>
      <span>ADMIN</span>
    </a>

    <a routerLink="login" *ngIf="!isLoggedIn()" class="nav-item" routerLinkActive="black">
      <i class="fas fa-sign-in-alt"></i>
      <span>LOGIN</span>
    </a>
    <a routerLink="register" *ngIf="!isLoggedIn()" class="nav-item" routerLinkActive="black">
      <i class="fas fa-user-plus"></i>
      <span>REGISTER</span>
    </a>

    <a routerLink="home" *ngIf="isLoggedIn()" (click)="logout()" class="nav-item">
      <i data-fa-transform="flip-h" class="fas fa-sign-out-alt"></i>
      <span>LOGOUT</span>
    </a>
  </div>
</nav>
