table {
  table-layout: fixed;
  border-radius: 5px;
  background-color: var(--iigl-grey);
}

table th {
  border-top: none;
  border-color: #323232;
}

table td, table th {
  overflow-wrap: break-word;
  padding-right: 5px;
  padding-left: 5px;
  vertical-align: middle;
}

.green {
  color: white;
  background-color: var(--iigl-green);
}

.red {
  color: white;
  background-color: #ff000080;
}

@media screen and (min-width: 601px) {
  table {
    table-layout: auto;
  }

  table th {
    width: unset !important;
  }
}
