<div class="w3-padding-large" id="main">

  <div class="w3-padding-64 w3-content" id="contact">

    <h2 class="w3-text-light-grey">Team sign-up</h2>
    <hr style="width:200px" class="w3-opacity">

    <form method="post" enctype="text/plain">
      <input type="text" name="name" placeholder="Name" [(ngModel)]="team.contactName">
      <input type="text" name="email" placeholder="Email" [(ngModel)]="team.contactEmail"><br>
      <input type="text" name="email" placeholder="Company" [(ngModel)]="team.company">
      <input type="text" name="teamName" placeholder="Team name" [(ngModel)]="team.name"><br>
      <input type="submit" value="Send" (click)="createNewTeam(team)">
      <input type="reset" value="Reset">
    </form>
  </div>

  <div class="w3-padding-64 w3-content">
    <h2 class="w3-text-light-grey">Teams signed up</h2>
    <hr style="width:200px" class="w3-opacity">
    <table style="width:100%" class="rwd-table">
      <tr>
        <th>Name</th>
        <th>Company</th>
        <th>Contact</th>
        <th>Email</th>
      </tr>
      <tr *ngFor="let team of teams">
        <td>{{team.name}}</td>
        <td>{{team.company}}</td>
        <td>{{team.contactName}}</td>
        <td>{{team.contactEmail}}</td>
      </tr>
    </table>
  </div>
</div>
