<div class="w3-padding-large" id="main">

  <div class="w3-padding-64 w3-content" id="contact">

    <h2 class="w3-text-light-grey">Teams</h2>
    <hr style="width:200px" class="w3-opacity">

    <p>HEY EVERYONE!! GET IN HERE!</p><br>
    <img src="https://image.ibb.co/hWg4nw/grim_patron.png" alt="grim_patron"border="0"><br><br>

    <form action="mailto:irishinterfirmsgaming@gmail.com" method="post" enctype="text/plain">
      Name:<br>
      <input type="text" name="name" #name><br>
      E-mail:<br>
      <input type="text" name="mail" #mail><br>
      Comment:<br>
      <input type="text" name="comment" size="50" #comment><br><br>
      <input type="button" value="Send" (click)="addTeam(name.value, mail.value, comment.value)">
      <input type="reset" value="Reset">
    </form>
  </div>
</div>
