<div class="w3-padding-large" id="main">

  <div class="w3-padding-64 w3-content" id="contact">

    <h2 class="w3-text-light-grey">Team sign-up</h2>
    <hr style="width:200px" class="w3-opacity">

    <form *ngIf="isLoggedIn()" method="post" enctype="text/plain">
      <input type="text" name="teamName" placeholder="Team name" [(ngModel)]="team.name"><br>
      <input type="submit" value="Send" (click)="createNewTeam(team)">
      <input type="reset" value="Reset">
    </form>

    <span *ngIf="!isLoggedIn()">You must be logged in to sign up a team.</span>
  </div>

  <div class="w3-content">
    <h2 class="w3-text-light-grey">Teams signed up</h2>
    <hr style="width:200px" class="w3-opacity">
    <table style="width:100%" class="rwd-table">
      <tr>
        <th>Name</th>
        <th>Company</th>
        <th>Contact</th>
      </tr>
      <tr *ngFor="let team of teams">
        <td>{{team.name}}</td>
        <td>{{team.company}}</td>
        <td>{{team.contactEmail}}</td>
        <td *ngIf="isLoggedIn() && team.members.indexOf(getEmail()) == -1"><button (click)="joinTeam(team.name)">Join</button></td>
        <td *ngIf="isLoggedIn() && team.members.indexOf(getEmail()) != -1"><button (click)="leaveTeam(team.name)">Leave</button></td>
      </tr>
    </table>
  </div>
</div>
