<div id="main">
  <div class="frontpage-screen">
    <!--<div style="position: absolute; width: 100%; bottom: 0; top: 0; ></div>-->

    <div class="w3-container w3-center responsive-content frontpage-canvas">
      <object data="/assets/img/logo.svg"></object>

      <div>
        <div>
          <h1>Irish Interfirms Gaming League</h1>
        </div>

        <div class="description">
          <p class="tagline w3-xlarge">Like inter-company GAA, but with 32GB RAM</p>
        </div>
      </div>

      <div class="w3-padding-large">
        <button routerLink="/wallOfFame" class="w3-button w3-xlarge w3-text-white w3-round-large">Wall of
          Fame
        </button>
        <button routerLink="/tournaments" class="w3-button w3-tooltip w3-xlarge w3-text-white w3-round-large">
          Tournaments
        </button>
        <button routerLink="/register" class="w3-button w3-xlarge w3-text-white w3-round-large">Get Involved!
        </button>
      </div>

    </div>

  </div>

  <div class="responsive-content w3-row more-info-section">
    <div class="w3-col l5 text-center">
      <p style="font-size: 30px; margin: 0 !important;">Join us on</p><br>
      <i class="card-img-top fab fa-discord fa-10x" data-fa-transform="grow-2"></i>
      <!--<img src="/assets/img/main_page/playing_lol_small.webp">-->
    </div>
    <div class="w3-col l7">
      <p>
        The IIGL (think <em>iggle</em>)
        is an Irish video gaming league where companies compete
        against each other for the prestige of... a name on a wall. And charities. That's important too. If you work
        for a company, and think you're the bees knees, submit a team!
      </p>
      <p>
        The IIGL is the eSports equivalent of inter-firms GAA or any other inter-firms sport. And just like other
        inter-firms sports leagues, the IIGL is run voluntarily by passionate individuals who work regular day jobs. Our
        goal is simple: to promote gaming! We use Battlefy as the tournament platform because it's free, automated and awesome!
      </p>
      <p>
        In the IIGL, we've substituted the traditional wooden shield with our <a routerLink="/wallOfFame">walls of
        fame</a>. Walls plural? Yup, we have a wall for every game! Also, since we're just getting started we're looking
        at YOU to become part of the foundations!
      </p>
    </div>
  </div>

  <div class="row games-list">
    <div class="col" *ngFor="let gameIcon of gameIcons">
      <img height="100px" src="{{gameIcon}}">
    </div>
  </div>
</div>
