<div id="main">
  <div class="frontpage-screen">
    <!--<div style="position: absolute; width: 100%; bottom: 0; top: 0; ></div>-->

    <div class="w3-container w3-center responsive-content frontpage-canvas">
      <object data="/assets/img/logo/logo.svg"></object>

      <div>
        <h1>Irish Interfirms Gaming League</h1>
        <p class="tagline">Like inter-company GAA, but with 16GB of RAM</p>
        <p class="description">The IIGL (think <em>iggle</em>) is an Irish video gaming league where companies compete
          against each other for the prestige of... a name on a wall!</p>
      </div>

      <div class="w3-padding-large">
        <button routerLink="/wallOfFame" class="w3-button w3-xlarge w3-text-white w3-round-large">Wall of
          Fame
        </button>
        <button routerLink="/tournaments" class="w3-button w3-tooltip w3-xlarge w3-text-white w3-round-large">
          Tournaments
        </button>
        <button routerLink="/register" class="w3-button w3-xlarge w3-text-white w3-round-large">Get Involved!
        </button>
      </div>

    </div>

  </div>

  <div class="responsive-content w3-row more-info-section">
    <a class="w3-col l4 discord-plug" href="https://discord.gg/dhYgfwC" target="_blank">
      <p>Join our community!</p>
      <i class="fab fa-discord fa-fw fa-10x"></i>
    </a>
    <div class="w3-col l8">
      <p>
        The IIGL is the eSports equivalent of interfirms GAA or any other interfirms sport. And just like other
        interfirms sports leagues, the IIGL is run voluntarily by passionate individuals who work regular day jobs. Our
        goal is simple: to promote gaming! We use Battlefy as the tournament platform because it's free, automated and
        awesome!
      </p>
      <p>
        In the IIGL, we've substituted the traditional wooden shield with our <a routerLink="/wallOfFame">walls of
        fame</a>. Walls plural? Yup, we have a wall for every game! Also, since we're just getting started we're looking
        at YOU to become part of the foundations!
      </p>
    </div>
  </div>

  <div class="row games-list">
    <div class="col" *ngFor="let gameIcon of gameIcons">
      <img height="100px" src="{{gameIcon}}">
    </div>
  </div>
</div>
