<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <img src="https://image.ibb.co/nnKFq6/Cover_Photo2.png" alt="Cover_Photo2" border="0">
  </header>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">About</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>You've heard of inter-firms GAA, you've heard of inter-firms soccer and if you've ever heard of the AHGL well
      this isn't new to you. This is inter-firms eSports or inter-firms gaming. Company VS. company on some of our
      favourite virtual battlefields. What's the prize? Well apart from pride and bragging rights you'll also be playing
      for a cash prize donated to a charity of your choice.
      <br><br>
      So, how many gamers do you know where <strong>you</strong> work?
    </p>
  </div>

  <!-- Games Section -->
  <div class="w3-content w3-justify w3-text-grey" id="games">
    <h3 class="w3-padding-16 w3-text-light-grey">Games</h3>
    <table>
      <tr>
        <td><img src="https://image.ibb.co/gYe4LG/League_of_Legends_logo.png" alt="League_of_Legends_logo" border="0">
        </td>
        <td><img src="https://image.ibb.co/hMFpnw/overwatch_logo.png" alt="overwatch_logo" border="0">
        </td>
        <td><img src="https://image.ibb.co/ckYg0G/Rocket_League_Logo.png" alt="Rocket_League_Logo" border="0"></td>
        <td><img src="https://image.ibb.co/g6mZLG/hearthstone_logo.png" alt="hearthstone_logo" border="0"></td>
      </tr>
    </table>
  </div>

</div>
