table {
  border-radius: 5px;
  background-color: var(--iigl-grey);
}

table th {
  border-top: none;
  border-color: #323232;
}

table img {
  height: 70px;
  padding: 0 10px;
}

@media only screen and (min-width: 768px) {
  table img {
    height: 40px;
  }
}

th:nth-child(1) {
  padding-left: 20px;
}

tbody tr {
  cursor: pointer;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.075);
  transition: background-color 0.25s;
}
