.message-panel {
  position: fixed;
  top: 15px;
  margin-top: 30px;
  padding: 0;
  width: 100%;
  text-align: center;
  z-index: 100;
  background-color: var(--iigl-green);
  animation: animatetop 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 15px;
    opacity: 1;
  }
}

.message-panel p {
  margin: 0;
  padding: 4px 8px;
}

.red {
  color: #fff;
  background-color: red;
}

.message-clear-button {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50px;
  padding-top: 2px;
  background-color: transparent;
  font-size: 50px;
  line-height: 50%;
  color: white;
  user-select: none;
}

.message-clear-button:hover {
  background-color: grey;
}

@media only screen and (min-width: 599px) {
  .message-panel {
    right: 0;
    left: 120px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 4px;
  }
}
