a {
  position: relative;
  z-index: 1;
}

a object {
  position: relative;
  z-index: -1;
}

.message-panel {
  position: fixed;
  top: 15px;
  margin-top: 30px;
  padding: 0;
  width: 100%;
  text-align: center;
  z-index: 100;
  background-color: var(--iigl-green);
  animation: animatetop 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 15px;
    opacity: 1;
  }
}

.mobile-nav {
  z-index: 1000;
}

.mobile-nav td {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

nav img {
  padding: 25px 15px;
}

.message-clear-button {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50px;
  padding-top: 2px;
  background-color: transparent;
  font-size: 50px;
  line-height: 50%;
  color: white;
  user-select: none;
}

.message-clear-button:hover {
  background-color: grey;
}

.footer {
  position: relative;
  padding: 16px;
}

.copyright {
  text-align: center;
}

.other-media {
  text-align: center;
  color: var(--iigl-green);
}

@media only screen and (min-width: 599px) {
  .message-panel {
    right: 0;
    left: 120px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 4px;
  }

  .footer {
    margin-left: 120px;
  }
}

@media screen and (min-width: 992px) {
  .other-media {
    text-align: right;
  }

  .copyright {
    text-align: left;
  }
}
