.error-panel {
  position: fixed;
  left: 0;
  width: 80%;
  right: 0;
  margin: 10px auto;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .error-panel {
    margin-top: 34px;
    width: 100%;
  }

  .no-vertical-space-small {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.bar-item {
  padding-left: 0;
  padding-right: 0;
}
