<div class="w3-padding-large" id="main">
  <div class="w3-padding-64 w3-content">
    <h2 class="page-heading">Login</h2>

    <form [formGroup]="form">
      <input class="form-control mb-2 col col-sm-9 col-md-7 col-lg-5 col-xl-4" formControlName="email"
             placeholder="Company Email" required
             autocomplete="username">
      <input class="form-control mb-2 col col-sm-9 col-md-7 col-lg-5 col-xl-4" formControlName="password"
             placeholder="Password" required
             autocomplete="current-password" type="password">

      <button class="btn btn-lg mt-5 col col-sm-5 col-md-4 col-lg-2" (click)="login()">Login</button>
    </form>
  </div>
</div>
