<div class="w3-padding-large" id="main">
  <div class="w3-padding-64 w3-content">

    <h2 class="page-heading">Student Advice</h2>
    <h3>What?</h3>
    <p>
      Wouldn't it be a cool idea to connect students with industry professionals, who have a mutal love of gaming,
      to chat about what it's like out in the working world? <br> Yeah, we think so!
    </p>

    <h4>Just leave a short post in our <a href="https://discord.gg/ahPkfnP">#student-advice</a> channel with:</h4>
    <ul>
      <li>Your name</li>
      <li>What you're studying</li>
      <li>What you'd like to chat about</li>
    </ul>

    <h3>Anything Else I Should Do?</h3>
    <p>
      Glad you asked! Have a look at this document for some do's, don'ts, and your first dollop of friendly advice!<br>
      <a href="https://docs.google.com/document/d/19cYRnroeEo42oQuzDwNwMx8bf0fNtQWigovtlpJDYK4/edit?usp=sharing">README</a>
    </p>

  </div>
</div>
