@import url('https://fonts.googleapis.com/css?family=Russo+One|Play');

:root {
  --iigl-green: #3d7915;
  --iigl-grey: #222;
  --iigl-dark-grey: #141414;
  --iigl-black: #020202;
}

body {
  background-color: var(--iigl-black);
  color: white;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Play, "Open Sans", sans-serif;
}

a {
  /* Undoing Bootstraps overriding */
  text-decoration: underline;
}

.w3-content {
  max-width: 1400px;
}

#main {
  margin-left: 0;
  min-height: calc(100vh - 160px);
}

.page-heading {
  margin-bottom: 1.5rem;
  color: #f1f1f1;
}

@media only screen and (min-width: 576px) {
  #main {
    margin-left: 120px;
  }
}

@media screen and (min-width: 992px) {
  #main {
    min-height: calc(100vh - 91px);
  }
}
