@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

body {
  background: black;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, "Open Sans", sans-serif;
}

a {
  /* Undoing Bootstraps overriding */
  text-decoration: underline;
}

/* Set the width of the sidebar to 120px */
.w3-sidebar {
  width: 120px;
  background: #222;
}

.w3-content {
  max-width: 1400px;
}

/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
  margin-left: 120px;
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
  #main {
    margin-left: 0;
  }
}
